.home{
    font-family: Comic Sans MS, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: url("images/drhome3.jpg");
    background-size: cover;
    
}
.text{
    font-family: Comic Sans MS, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0px;
    text-transform: none;
}
.page1{
    background: url("images/bols2.jpg");
    background-size: cover;
    background-position: center;
}

a.button {
    appearance: button; text-decoration: none; padding: 4px; border-radius: 10px;
    background: rgb(56, 2, 2); color: white; font-family: Comic Sans MS;
  }
  .modal {
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    min-height: 100vh; pointer-events: none;
    background: rgba(0, 0, 0, 0.7); opacity: 0;
    transition: opacity 400ms ease-in;
  }
  .content-modal {
    display: flex; justify-content: space-between; flex-direction: column;
    padding: 10px; border-radius: 10px; width: 300px; background: rgb(217, 214, 223);
  }
  .modal:target {opacity: 1; pointer-events: auto;}
  .close {align-self: flex-end; text-decoration: none; color: red; font-size: 14px;}
  .content-modal input {outline: none; border: 1px solid gray; margin: 10px 0; font-family: Comic Sans MS;}
  .content-modal h4 {margin: 0;}